.body {
  background-color: crimson;
  min-height: 86.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-text {
  color: white;
}

.home-link {
  border: 2px groove white;
  color: white;
  padding: 6px;
  text-decoration: none;
}
