.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.footer {
  align-items: center;
  background-color: #282c34;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  width: 100%;
}

.footer-phrase {
  color: #61dafb;
}

.footer-logos {
  color: #61dafb;
  font-size: 25px;
  margin: 0 10px;
  text-decoration: none;
}
